<div class="section-title" style="margin-bottom:10px;">
    @if (TitleContent is not null)
    {
        @TitleContent
    }
    else
    {
        @Title
    }
</div>

@if (ChildContent is not null)
{ 
    @ChildContent
}