<div class="form-group">
    <label class="form-label">@Label
        @if (Required) { <span class="required" aria-hidden="true">*</span> }
    </label>
    <InputText class="form-input"
               type="@Type"
               readonly="@ReadOnly"
               placeholder="@Placeholder"
               Value="@Value"
               ValueChanged="ValueChanged"
               ValueExpression="ValueExpression"
               @attributes="AdditionalAttributes"/>
    @if (ValueExpression is not null)
    {
        <ValidationMessage For="ValueExpression"/>
    }
</div>